<h1>Aggiugi Falesia</h1>
    <form method="POST" action="/Falesia">
      <input type="immagine" placeholder="immagine" name="immagine"><p>
      <input type="nome" placeholder="nome" name="nome"><p>
      <input type="longitudine" placeholder="longitudine" name="longitudine"><p>
      <input type="latitudine" placeholder="latitudine" name="latitudine"><p>
      <input type="regione" placeholder="regione" name="regione"><p>
      <input type="citta" placeholder="citta" name="citta"><p>
      <input type="tipo" placeholder="tipo" name="tipo"><p>
      <input type="descrizione" placeholder="descrizione" name="descrizione"><p>
      
      <input type="submit" value="submit">
    </form>
    <button onclick="window.location.href='/listaFalesie';">Indietro</button>
    