<!DOCTYPE html>
<html>
  <head>
    <title>Falesie in Italia</title>
    <link rel="stylesheet" href="../../assets/styles/hmpgstyle.css" type="text/css">
  </head>
  <body>
    <div class="center">
        <h1>Homepage</h1>
        <h2>Scegli cosa fare:</h2>

        <button onclick="window.location.href='login';">Lista Falesie</button>


        <h2>Vuoi inserire una nuova falesia?</h2>

        <button onclick="window.location.href='/signupOrg';">Inserisci falesia</button>
    </div>

    <script>

    </script>
  </body>
</html>
